{
  "extends": "google",
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "max-len": ["error", { "code": 80, "ignoreComments": true }],
    "no-undef": "error"
  },
  "plugins": ["import"],
  "parser": "babel-eslint"
}
